@use '../../../styles/variables' as v;

:host {
  display: inline-flex;

  &[data-orientation='horizontal'] {
    flex-flow: row wrap;
    gap: v.$space-md;
  }

  &[data-orientation='vertical'] {
    flex-direction: column;
    gap: v.$space-sm;
  }
}
